body {
    /*background-color: rgb(62, 34, 185);*/
    }
    
    header {
    padding: 30px;
    color: white;
    background-color: rgba(74, 76, 219, 0.685);
    clear: left;
    text-align: center;
    margin: -8px -8px;
    overflow: auto;
    }
    
    nav {
    padding: 60px;
    color: rgb(255, 255, 255);
    background-color: rgb(8, 16, 124);
    clear: left;
    text-align: left;
    margin: 8px -8px;
    overflow: auto;
    font-size:39px;
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    }
    
    /*nav ul a {
    text-decoration: none;
    }*/
    
    article {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    background-color: rgba(74, 76, 219, 0.685);
    font-size:12px;
    width: 30%;
    }
    footer {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(8, 16, 124);
    clear: left;
    text-align: center;
    margin: 8px -8px;
    overflow: auto;
    }
    button {
    background-color: rgb(8, 16, 124);
    color: white;
    margin: auto;
    width: auto;
    padding: 12px;
    border: 1px solid white;
    overflow: auto;
    margin-left: auto;
    }
    #otelj {
    float: right;
    margin: -145px 20px;
    padding: -50px;
    }
    div {
    width: 100%;
    }